@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
}

#container {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.836);
    padding: 30px;
    border-radius: 12px;
    width: 50%;
    max-width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Initial background color */
    transition: all 0.5s ease;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
  }
  
  .profile img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  h1,
h3,
a {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

a {
    text-decoration: none;
    font-size: 19px;
    font-style: italic;
}

.myName {
    text-align: center;
    justify-content: center;
    margin-top: 2px;
} 

#hover-el, .hover-el {
    cursor: pointer;
}

  
.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
} 
  

@media (max-width: 600px) { 
    .profile img {
        object-fit: cover;
        height: 150px;
        width: 150px;
        border-radius: 50%;
      }

    h1{
        font-size: 20px;

      }
    h3, a, p {
        font-size: 12px;
    }

    #container {
        padding: 20px;
        border-radius: 12px;
        width: 80%;
        max-width: 80vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}
